/* Общий стиль для страницы */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Статичная шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Высота шапки */
    z-index: 1000;
    border-bottom: 1px solid rgba(40, 40, 40, 0.60);
    background: #F0F0F0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Разделяем логотип и меню */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Логотип */
.logo {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Расстояние между LEO и DRIVE */
    text-align: left;
}

.leo {
    color: #FFB60A;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFB60A;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
}

.drive {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
}

/* Меню */
.nav-menu {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 80px; /* Расстояние между кнопками */
    flex: 1; /* Распределяем пространство */
}

.nav-link {
    text-decoration: none;
    color: #282828; /* Основной цвет текста */
    font-family: 'Onest', sans-serif; /* Указанный шрифт */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

/* Стили при наведении */
.nav-link:hover {
    color: #FFB60A; /* Цвет при наведении */
}

/* Стили при нажатии */
.nav-link:active {
    color: #C56302; /* Цвет текста при нажатии */
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .header {
        height: 70px; /* Уменьшенная высота на мобильных устройствах */
        padding: 0 10px;
    }
    .leo, .drive {
        font-size: 20px; /* Уменьшенный размер текста */
    }
    .nav-menu {
        gap: 20px; /* Меньшее расстояние между кнопками */
    }
    .nav-link {
        font-size: 14px; /* Уменьшенный шрифт для кнопок */
    }
}
